{% extends 'base.html' %}
{% block title %}
    无何有之乡|复见天心
{% endblock %}
{% block content %}
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">无何有之乡</h3>
  </div>
  <div class="panel-body">
    <p><center>
        <br>
        今且有言于此，不知其与“是“类乎？其与”是“不类乎？<br>
        类与不类，相与为类，则与”彼“无以异矣。<br>
        虽然，请尝言之：有始也者，有未始有始也者，有未始有夫未始有始也者。<br>
        有有也者，有无也者，有未始有无也者，有未始有夫未始有无也者。<br>
        俄而有”无“矣，而未知有“无”之果孰有孰无也？<br>
        今我则已有谓矣，而未知吾所谓，其果有谓乎？其果无谓乎？
      </center>
    </p>
      <br>
      <br>
  </div>
</div>
{% endblock %}
