{% extends 'base.html' %}
{% block title %}
    吾|复见天心
{% endblock %}
{% block content %}
<div class="panel">
<div class="panel-heading navbar-default"><strong>何人</strong></div>
  <div class="panel-body">
    <div class="container">
    <h4>

    </h4>
    </div>
  </div>
</div>
<div class="panel">
<div class="panel-heading navbar-default"><strong>何地</strong></div>
  <div class="panel-body">
      <div class="container">
      <h4>

      </h4>
    </div>
  </div>
</div>
<div class="panel">
<div class="panel-heading navbar-default"><strong>何寻</strong></div>
  <div class="panel-body">
      <div class="container">
      <h4>

      </h4>
    </div>
  </div>
</div>

{% endblock %}